{% extends 'layouts/installer.html.twig' %}

{% block content %}
    <h2 class="text-heading text-xl">{{ 'Administrator account'|trans }}</h2>
    <p class="text-text-muted">{{ 'Admin account setup UI will be implemented in a later iteration.'|trans }}</p>
{% endblock %}
