{% extends 'layouts/installer.html.twig' %}

{% block content %}
    <h2 class="text-heading text-xl">{{ 'Summary'|trans }}</h2>
    <p class="text-text-muted">{{ 'Installation summary placeholder. Display configuration details here.'|trans }}</p>
{% endblock %}
