{% extends 'pages/error/default.html.twig' %}

{% block error_intro %}
    <div class="layout-stack--tight">
        <h1 class="text-heading text-3xl">{{ 'error.404.title'|trans }}</h1>
        <p class="text-text-muted text-lg">{{ 'error.404.subtitle'|trans }}</p>
    </div>
    <p class="text-text">{{ 'error.404.help'|trans }}</p>
{% endblock %}
