<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="config/" />
          <add sequence="src/" />
          <add sequence="vendor/" />
          <add sequence="var/" />
          <add sequence="migrations/" />
          <add sequence="tests/" />
          <add sequence="docs/" />
          <add sequence="modules/" />
          <add sequence="templates/" />
          <add sequence="translations/" />
          <add sequence="bin/" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Redirect to Public" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/public/" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
