{% extends 'security/layout.html.twig' %}

{% block title 'Password Reset' %}

{% block body %}
    <div class="card">
        <h1>Reset your password</h1>
        <p>Enter the email address linked to your account. If it exists, we will send a reset link.</p>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <button type="submit">Send reset link</button>
        {{ form_end(requestForm) }}
        <p class="hint"><a href="{{ path('app_login') }}">Back to sign in</a></p>
    </div>
{% endblock %}
